body {
    position: relative;
    background: linear-gradient(to top, black, rgb(88, 3, 106));
    background-size: cover;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, Bodoni, "Times New Roman";
}

#login-box {
    position: relative;
    width: 50%;
    height: 60vh;
    border: none;
    border-radius: 10%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, black, rgb(124, 0, 124));
    display: flex;
    flex-direction: row;
    align-items: end;
    box-shadow: -5px 10px 100px black, 5px -10px 100px black;
}

#login-titulo {
    position: absolute;
    font-size: 30px;
    padding: 0;
    margin-top: 5px;
    color: black;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    font-weight: bold;
}

#login-login {
    position: relative;
    box-sizing: border-box;
    height: 300px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 10px;
}

div#login-login p {
    text-align: justify;
    padding: 0;
    margin: 0;
}

div#login-box input {
    background-color: black;
    height: 35px;
    width: calc(100% - 10px);
    border: none;
    color: rgb(184, 184, 184);
    padding-left: 5px;
    margin-top: 10px;
    outline: none;
}

.alerta {
    position: absolute;
    color: rgb(255, 6, 6);
    margin-top: 5px !important;
    font-size: 10px;
    display: none;
}

button#criar-conta {
    position: relative;
    height: 25px;
    width: 90px;
    background: black;
    border-radius: 50vh;
    color: rgb(83, 83, 83);
    font-weight: bold;
    border: none;
    left: calc(50% - 45px);
    margin-top: 30px;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

button#criar-conta:hover {
    transform: scale(1.2);
    box-shadow: 0 0px 50px rgb(197, 196, 196);
}

a#entrar-conta {
    position: relative;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 15px; 
    width: min-content;
    text-decoration: none;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    transition: text-decoration to;
}

a#entrar-conta::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: black;
    transition: width 0.3s ease-in-out; /* Transição para a largura */
}

a#entrar-conta:hover::before {
    width: 100%; /* Aumenta a largura para 100% */
}


div#login-descricao {
    position: relative;
    color: white;
    box-sizing: border-box;
    height: 300px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    padding: 10px;
}

div#login-descricao p{
    position: relative;
    overflow-wrap: break-word;
    width: 70%;
    text-align: center;
}

div#login-descricao::before {
    position: absolute;
    content: "";
    height: 250px;
    width: 2px;
    right: 20px;
    background-color: white;
}

div#login-descricao::after {
    position: absolute;
    content: "";
    height: 250px;
    width: 2px;
    left: 20px;
    background-color: white;
}