body {
    position: relative;
    background: linear-gradient(to top, rgb(16, 16, 16), rgb(1, 3, 42));
    background-size: cover;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, Bodoni, "Times New Roman";

    & form {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;
        gap: 10px;
        padding-left: 2em;
        padding-right: 2em;
        padding-bottom: 1.5em;
        background-color: #171717;
        border-radius: 25px;
        transition: .4s ease-in-out;

        &:hover {
            transform: scale(1.05);
            border: 1px solid black;
        }
    
        & input {
            display: flex;
            justify-content: center;
            flex-direction: row;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            border-radius: 25px;
            box-sizing: border-box;
            padding: 1em;
            height: 3.5em;
            width: 100%;
            border: none;
            outline: none;
            color: white;
            background-color: #171717;
            box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
        }
    
        & button {
            padding: 0.5em;
            border-radius: 5px;
            width: 8em;
            border: none;
            outline: none;
            transition: .4s ease-in-out;
            background-color: #252525;
            color: white;
            cursor: pointer;
        }
    
        & button:hover {
            background-color: black;
            color: white;
        }
    
        & a {
            text-decoration: none;
            color: white;
            position: relative;
    
            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 1px;
                background-color: rgb(161, 161, 161);
                transition: width 0.3s ease-in-out; 
            }
            
            &:hover::before {
                width: 100%;
            }
        }

        & #login-criar,
        #entrar {
            margin-top: 1em;
        }

        & #esqueci-senha {
            color: red;

            &::before {
                background-color: red;
            }
        }

        & #entrar-google {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1em;
            box-shadow: 1px 1px 10px black inset;
            background-color: white;
            color: black;
            width: 15em;
            height: 2.5em;
            margin-top: 1em;
            transition: background-color .3s ease-in-out, color .3s ease-in-out; 

            &:hover {
                background-color: black;
                color: white;
            }
        }
    }
}   

#login-titulo {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 3em;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
}

#bg-secao1 {
    position: fixed;
    width: 20em;
    height: 20em;
    top: calc(50% - 10em);
    left: 20em;
    z-index: -1;
}

#bg-secao2 {
    position: fixed;
    width: 20em;
    height: 20em;
    top: calc(50% - 10em);
    right: 5em;
    z-index: -1;
}

#bg-secao-titulo {
    position: fixed;
    top: 4em;
    left: 1em;
    z-index: -1;   
}

.alerta {
    position: absolute;
    text-align: justify;
    color: rgb(255, 6, 6);
    margin: 0;
    left: 4.5em;
    right: 4.5em;
    font-size: 10px;
}

#login > .alerta {
    top: 32em;
}

#entrar-conta > .alerta {
    top: 25.1em;
}

.oculto {
    display: none;
}

#google-icone {
    height: 1rem;
    display: flex;
    justify-content: center;
}